body{
    text-align: center;
    margin: auto;
}

ul{
    text-align: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

li{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: lightgray;
}

a{
    text-decoration: none;
}
